# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs


# Visual Studio
Visual Studio/packages/

Visual Studio/WcfServiceApp/[Dd]ebug/
Visual Studio/WcfServiceApp/x64/
Visual Studio/WcfServiceApp/x86/
Visual Studio/WcfServiceApp/build/
Visual Studio/WcfServiceApp/bld/
Visual Studio/WcfServiceApp/[Bb]in/
Visual Studio/WcfServiceApp/[Oo]bj/

Visual Studio/Website/[Dd]ebug/
Visual Studio/Website/x64/
Visual Studio/Website/x86/
Visual Studio/Website/build/
Visual Studio/Website/bld/
Visual Studio/Website/[Bb]in/
Visual Studio/Website/[Oo]bj/

# Unity
Unity/Library/
Unity/Temp/
Unity/Obj/
Unity/Build/
Unity/Assets/AssetStoreTools*
Unity/App
Unity/ExportedObj/
Unity/.consulo/
Unity/*.csproj
Unity/*.unityproj
Unity/*.sln
Unity/*.suo
Unity/*.tmp
Unity/*.user
Unity/*.userprefs
Unity/*.pidb
Unity/*.booproj
Unity/*.svd
Unity/*.pidb.meta
Unity/sysinfo.txt
!*.*.meta
