# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
Database/*.meta

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs


# VS
VS/packages/

VS/WcfServiceApp/[Dd]ebug/
VS/WcfServiceApp/x64/
VS/WcfServiceApp/x86/
VS/WcfServiceApp/build/
VS/WcfServiceApp/bld/
VS/WcfServiceApp/[Bb]in/
VS/WcfServiceApp/[Oo]bj/

VS/WebApp/[Dd]ebug/
VS/WebApp/x64/
VS/WebApp/x86/
VS/WebApp/build/
VS/WebApp/bld/
VS/WebApp/[Bb]in/
VS/WebApp/[Oo]bj/

VS/SignalRApp/[Dd]ebug/
VS/SignalRApp/x64/
VS/SignalRApp/x86/
VS/SignalRApp/build/
VS/SignalRApp/bld/
VS/SignalRApp/[Bb]in/
VS/SignalRApp/[Oo]bj/

VS/IAPlannerLibrary/[Dd]ebug/
VS/IAPlannerLibrary/x64/
VS/IAPlannerLibrary/x86/
VS/IAPlannerLibrary/build/
VS/IAPlannerLibrary/bld/
VS/IAPlannerLibrary/[Bb]in/
VS/IAPlannerLibrary/[Oo]bj/

VS/UnitTestProject/[Dd]ebug/
VS/UnitTestProject/x64/
VS/UnitTestProject/x86/
VS/UnitTestProject/build/
VS/UnitTestProject/bld/
VS/UnitTestProject/[Bb]in/
VS/UnitTestProject/[Oo]bj/

VS/SimulationApp/[Dd]ebug/
VS/SimulationApp/x64/
VS/SimulationApp/x86/
VS/SimulationApp/build/
VS/SimulationApp/bld/
VS/SimulationApp/[Bb]in/
VS/SimulationApp/[Oo]bj/

# Unity
Unity/Library/
Unity/Temp/
Unity/Obj/
Unity/Build/
Unity/Assets/AssetStoreTools*
Unity/App
Unity/ExportedObj/
Unity/.consulo/
Unity/*.csproj
Unity/*.unityproj
Unity/*.sln
Unity/*.suo
Unity/*.tmp
Unity/*.user
Unity/*.userprefs
Unity/*.pidb
Unity/*.booproj
Unity/*.svd
Unity/*.pidb.meta
Unity/sysinfo.txt
!*.*.meta
