@font-face {
    font-family: PT Sans Caption;
    src: url("../../Assets/fonts/PT_Sans-Caption-Web-Regular.ttf");
}

* {
    font-family:  PT Sans Caption;
    src: url("../../Assets/fonts/PT_Sans-Caption-Web-Regular.ttf");
}

@font-face {
    font-family:  PT Sans Caption;
    src: url("../../Assets/fonts/PT_Sans-Caption-Web-Regular.ttf");
}
